<aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
        <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
        <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
            <ul class="demo-choose-skin">
                <li *ngFor="let theme of themes" [ngClass]="{'active': selectedThemeCssClass == theme.cssClass}" (click)="setTheme(theme)">
                    <div class="{{theme.cssClass}}"></div>
                    <span>{{theme.name}}</span>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="settings">
            <div class="demo-settings">

                <p>Marketing line</p>
                <ul class="setting-list">
                    <li>
                        <textarea style="width: 100%;" type="text" [(ngModel)]="marketing"></textarea>
                    </li>
                </ul>
                <p>Contact</p>
                <ul class="setting-list">
                    <li>
                        <textarea style="width: 100%;" type="text" [(ngModel)]="footer"></textarea>
                    </li>
                </ul>
                <ul style="text-align: center" class="setting-list">
                    <button mat-raised-button color="primary" (click)="saveSettings()">{{ 'Save' | localize }}</button>
                </ul>
            </div>
        </div>
    </div>
</aside>
