<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>Update Route</h2>

            </div>
            <div class="body table-responsive">
                <!--query start-->
                <div class="row clearfix">
                    <form>
                        <mat-form-field>
                            <input matInput placeholder="Route Name" [(ngModel)]="routeObj.name"   name="routeName" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Description" [(ngModel)]="routeObj.description"   name="routeDescription">
                        </mat-form-field>
                        <div class="row">
                            <div class="col-md-12 text-right p-r-25">
                                <button [disabled]="saving" mat-raised-button color="primary" (click)="save()">{{ 'Save' | localize }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--query end-->
                <mat-spinner *ngIf="loading" [color]="color"></mat-spinner>
                <div *ngIf="!loading" cdkDropListGroup>
                    <div class="example-container">
                        <h4>Customers</h4>

                        <div
                                cdkDropList
                                [cdkDropListData]="customers"
                                class="example-list"
                                (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of customers" cdkDrag>{{item.name+' ('+item.area+')'}}</div>
                        </div>
                    </div>

                    <div class="example-container">
                        <h4>Route</h4>

                        <div
                                cdkDropList
                                [cdkDropListData]="done"
                                class="example-list"
                                (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.name+' ('+item.area+')'}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
